* {
    box-sizing: border-box;
    }
body{
    block-size: auto;
    background-color:bisque;
    padding: 0px;
    margin: 0px;
}
.header{
    column-width: 100%;
    background-color: blue;
}
.row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.leftbar{
    width: 25%;
    background-color: rgb(0, 255, 21);
}
.righttbar{
    width: 25%;
    background-color: rgb(0, 255, 255);
}
.contentbar{
    width: 50%;
    background-color: rgb(197, 185, 119);
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }